.header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    background: #252526;
    box-shadow: 0 1px 4px -2px black;
}

.headerName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4EC9B0;
    width: 40vw;
    box-sizing: border-box;
    padding: 6vh;
}

.headerName-line1 {
    display: flex;
    font-size: 4vh;
    font-family: "Roboto Light";
}

.headerName-line2 {
    display: flex;
    font-size: 8vh;
    font-family: "GrandHotel Regular", serif;
    line-height: 7vh;
}

.headerActions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4vh;
    padding-right: 6vh;
}

.myPeopleButton {
    background: none;
    font-family: "Roboto Light";
    font-size: 2.5vh;
    color: #ffffff;
    border: none;
}

.rightArrowIcon {
    font-size: 2vh;
}

.actions {
    display: flex;
    flex-direction: row;
    padding-right: 6vh;
    padding-bottom: 2vh;
    justify-content: flex-end;
}

.searchIcon {
    display: flex;
    color: #ffffff;
    background: none;
    border: none;
    margin-right: 2vh;
    padding: 1.5vh;
    font-size: 3vh;
}

.filterIcon {
    display: flex;
    color: #ffffff;
    border: none;
    background: none;
    padding: 1.5vh;
    font-size: 3vh;
}

@font-face {
    font-family: "GrandHotel Regular";
    src: url("../fonts/GrandHotel-Regular.otf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf");
}