.giftListContainer {
    display: flex;
    flex-direction: column;
    background: #252526;
    width: 90vw;
    max-width: 600px;
    min-height: 72vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    box-sizing: border-box;
    padding: 4vh 4vh 4vh 4vh;
    box-shadow: 0 1px 4px -2px black;
    justify-content: space-between;
}

.giftList {
    display: flex;
    flex-direction: column;
}

.addGiftBar {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: none;
    margin-top: 6vh;
    height: 5vh;
    background-color: #a6a6a6;
    /* border: 1px solid red; */
}

.addGiftInput {
    display: flex;
    background-color: #a6a6a6;
    flex-grow: 1;
    border: none;
    /* border: 1px solid green; */
    border-radius: 5px 0 0 5px;
    padding-left: 2vh;
    font-family: "Roboto Mono Regular";
    font-size: 2.5vh;
    color: #3a3d41;
    min-width: 0;
}

.addGiftButton:focus {
    outline: none;
}

.addGiftButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    background-color: #a6a6a6;
    border: none;
    width: 6.5vh;
    color: #404040;
    /* border: 1px solid blue; */
}

.addGiftIcon {
    display: flex;
    font-size: 2.5vh;;
}

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("../fonts/RobotoMono-Regular.ttf");
}