.giftItemContainer {
    display: flex;
    flex-direction: row;
    height: 9vh;
    align-items: stretch;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.pinIcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background: none;
    flex-grow: 0.05;
    font-size: 3vh;
    color: #99b8b4;
    /* border: 1px solid; */
}

.giftName {
    display: flex;
    align-items: center;
    font-size: 4vh;
    font-family: "Roboto Mono Light";
    flex-grow: 1;
    color: #646695;
}

.menuIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    flex-grow: 0.05;
    font-size: 3vh;
    color: #646695;
    border: none;
}

@font-face {
    font-family: "Roboto Mono Light";
    src: url("../fonts/RobotoMono-Light.ttf");
}

