.giftItemContainer {
    display: flex;
    flex-direction: row;
    height: 9vh;
    align-items: stretch;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.pinIcon {
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    font-size: 2.5vh;
    max-width: 10vh;
    color: #99b8b4;
    /* border: 1px solid; */
}

.giftName {
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-family: "Roboto Mono Light";
    flex-grow: 1;
    color: #569CD6;
    padding-left: 2vh;
    /* border: 1px solid; */
}

@font-face {
    font-family: "Roboto Mono Light";
    src: url("../fonts/RobotoMono-Light.ttf");
}

